<!doctype html>
<html lang="pt-BR">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <link rel="shortcut icon" type="image/x-icon"
        href="https://www.bancopan.com.br/lumis-theme/br/com/bancopan/institucional/theme/banco-pan-institucional/estrutura/assets/img/favicon.ico">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


    <link rel="stylesheet" href="../static/css/confirma-dados.css">


    <title>Banco PAN | Cadastro</title>
</head>

<body id="checkout-page">

    <!-- Modal Cofirmação -->
    <div class="modal fade" id="modal-confirmacao" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3>Os dados do endereço estão corretos?</h3>
                    <h6></h6>
                    <h6></h6>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" id="confirmar">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Principal -->
    <main class="container my-4">
        <section class="card">
            <div class="card-header p-4">
                <div class="row">
                    <div class="col">
                        <h3 class="mb-0">Cadastro de Novo Endereço</h3>
                    </div>
                </div>
            </div>

            <form method="post" action="" class="form" id="formContinuar">
                <input type="hidden" name="codCliente" id="codCliente" value="{{codCliente}}">
                <div class="card-body">
                    <!-- Linha 8 -->
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="apelido">Apelido *</label>
                                <input type="text" class="form-control email" name="apelido" id="apelido"
                                    placeholder="Digite um apelido para o endereço"">
                            </div>
                        </div>
                    </div>
                <!-- Linha 9 -->
                <div class=" row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="cep">CEP *</label>
                                        <input type="text" placeholder="00000-000" class="form-control cep" name="cep"
                                            id="cep" onblur="pesquisacep(this.value);" required>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label for="bairro">Bairro</label>
                                        <input type="text" class="form-control" name="bairro" id="bairro" data-input
                                            disabled>
                                    </div>
                                </div>
                            </div>

                            <!-- Linha 9 -->
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="rua">Logradouro</label>
                                        <input type="text" class="form-control" name="rua" id="rua" data-input disabled>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label for="numero">Número *</label>
                                        <input type="number" class="form-control" name="numero" id="numero">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label for="complemento">Complemento</label>
                                        <input type="text" class="form-control" name="complemento" id="complemento">
                                    </div>
                                </div>
                            </div>

                            <!-- Linha 10 -->
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="cidade">Cidade</label>
                                        <input type="text" class="form-control" name="cidade" id="cidade" data-input
                                            disabled>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label for="uf">UF</label>
                                        <input class="form-control" name="uf" id="uf" data-input disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col text-right">
                                    <button type="button" class="btn btn-secondary" id="btn-voltar">Voltar</button>
                                    <button type="button" class="btn btn-primary" id="btn-confirmar">Cadastrar
                                        Endereço</button>
                                </div>
                            </div>
                        </div>
            </form>
        </section>

    </main>

    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script type="text/javascript" src="../static/js/jquery.mask.js"></script>
    <script type="text/javascript" src="../static/js/novo-endereco.js"></script>


</body>

</html>